.theme_switch-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5em;
    font-size: 0.75em;
    background-color: var(--button);
    color: var(--text_1);
    cursor: pointer;
    transition: background-color 0.25s;
    border-radius: 4px;
    border: 1px solid transparent;
    line-height: normal;
    gap: 1rem; 
    width: 100%;
    &:hover{
        background-color: var(--button_hover);
    }
    &:focus,
    &:focus-visible{
        outline: none;
    }
}