.randomArticleBtn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5em;
    font-size: 0.75em;
    background-color: var(--button);
    cursor: pointer;
    transition: border-color 0.25s;
    border: 1px solid transparent;
    line-height: normal;
    gap: 1rem;
    width: 100%;
    color:var(--text_1);
    &:hover {
        background-color: var(--button_hover);
        color: var(--text_1);
    }
}