.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    padding: 1.25em;
    background-color: var(--card_background);
    color: var(--text_2);
    text-decoration: none;
    transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    position: relative;
    overflow: hidden;
    &:hover {
        background-color: var(--hover);
        color: var(--text_2);
      }
  }
  
  
  .article:hover .read_more {
    transform: scale(1.1);
  }
  
  .timestamp {
    font-size: 0.6em;
    color: var(--text_3);
    z-index: 2;
    position: relative;
  }
  
  .article-title {
    margin: 0;
    word-wrap: break-word;
    font-size: 1.2em;
    z-index: 2;
    position: relative;
  }
  
  .author {
    font-size: 0.6em;
    color: var(--text_3);
    z-index: 2;
    position: relative;
  }
  
  .article-text {
    max-width: 100%;
    word-wrap: break-word;
    font-size: 0.65em;
    color: var(--text_3);
    z-index: 2;
    position: relative;
  }
  
  .article-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    gap: 0.6em;
    width: 100%;
    z-index: 2;
    position: relative;
  }
  
  .read_more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 0.6em;
    color: var(--text_2);
    transition: all 0.3s ease-in-out;
    z-index: 2;
    position: relative;
  }
  
  .article .layer {
    z-index: 1;
    position: absolute;
    top: calc(100% - 10px);
    height: 100%;
    width: 100%;
    left: 0;
    background: var(--hover);
    transition: 0.2s;
  }
  
  .article:hover .layer {
    top: 0;
  }
  